# Puerto en el que se levantará el servidor
PORT=3000

# Entorno de ejecución (development | production)
NODE_ENV=development

# Cadena de conexión a MongoDB
# Local: mongodb://localhost:27017/gestion-usuarios
# Atlas: mongodb+srv://usuario:password@cluster.mongodb.net/gestion-usuarios
MONGO_URI=mongodb://localhost:27017/gestion-usuarios
